# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
*.db
*.db-wal
*.db-shm
*.sqlite3

# Node / Vite
node_modules/
dist/
dist-ssr/
*.local

# Logs
*.log
npm-debug.log*

# Editor
.vscode/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
